body {
    background-color: #eef2f5;
    padding: 5px;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}


body > .d-flex {
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 12px 40px rgba(20, 33, 61, 0.08);
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
}


.sidebar-custom {
    width: 228px;
    height: 100%;
    position: sticky;
    background-color: #ffffff;
    border-right: 1px solid #ccc;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav-link-custom {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    color: #14213d;
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1px;
    transition: background-color 0.2s ease-in-out;
}

.nav-link-custom i {
    font-size: 24px;
    margin-right: 10px;
    color: #14213d;
}

.nav-link-custom.active {
    background-color: #ff7e12;
    border-bottom: 3px solid #14213d;
    color: #ffffff;
}

.nav-link-custom.active i {
    color: #ffffff !important;
}

.nav-link-custom:hover:not(.active):not(.no-hover) {
    background-color: #FFF4EB;
}


.main-content {
    background-color: #ffffff;
    height: 100%;
    overflow-y: auto;
}

.page-title {
    font-size: 3rem;
    font-weight: 900;
    color: #14213d;
    letter-spacing: -1px;
}

.btn-orange {
    background-color: #ff7e12;
    color: #fff;
    font-weight: 800;
    font-size: 0.85rem;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.btn-orange:hover {
    background-color: #E06500;
    color: #fff;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1.8px solid #333;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: #fff;
    width: 300px;
}

.search-container i {
    font-size: 1.2rem;
    color: #333;
    margin-right: 10px;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.9rem;
}

.table-custom {
    margin-top: 20px;
}

.table-custom th {
    border-bottom: 2px solid #ccc;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.table-custom td {
    vertical-align: middle;
    background-color: #f5f5f5;
    border-bottom: 6px solid #fff;
    padding: 12px;
    font-weight: normal;
}

.badge-verde {
    background-color: #4ec9b4 !important;
    color: #ffffff;
    font-weight: 800;
    padding: 0.4em 0.6em;
}

.badge-amarelo {
    background-color: #ff9c0f !important;
    color: #ffffff;
    font-weight: 800;
    padding: 0.4em 0.6em;
}

.badge-vermelho {
    background-color: #e51f01 !important;
    color: #ffffff;
    font-weight: 800;
    padding: 0.4em 0.6em;
}

.icon-clientes-ativos {
    color: #14213d;
}

.icon-produtos {
    color: #e51f01;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}